.project--storages {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/chart_items.png');
  background-size: cover;
}

.project--internship {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/dashboad.jpg');

  background-size: cover;
}

.project--chat-room {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/crLogin.png');

  background-size: cover;
}

.project--up-next {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/community1.jpeg');

  background-size: cover;
}

.project h1 {
  text-transform: capitalize;
}

.project__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.8rem;
  color: white;
  background: #ff5454;
  padding: 0.5rem;
  transform: rotate(45deg) translate(2.4rem, 1.2rem);
  transform-origin: center;
  width: 12rem;
  text-align: center;
  text-transform: uppercase !important;
}

.project a {
  text-decoration: none;
  color: aqua;
}

.project a:hover,
.project a:active {
  /* animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; */
  /* color: aquamarine; */
  /* transform: skewX(-20deg) scale(1.1); */
  font-style: oblique;
  text-shadow: 1px 1px 1px gray;
  font-size: 1.1rem;
}
