.project--our-storages {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/storages-back.png');
  background-size: cover;
}
.project--my-js-snippets {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/my-notes1.png');
  background-size: cover;
}

.project--my-favorite-images {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/favorite-images-search.png');

  background-size: cover;
}
.project--internship {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/dashboad.jpg');

  background-size: cover;
}

.project--tic-tac-toe {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/tic-tac-toe.png');

  background-size: cover;
}

.project--chat-room {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/crLogin.png');

  background-size: cover;
}

.project--ppl-finder {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/ppl-finder-fav.png');

  background-size: cover;
}

.project--my-recipes {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/angular-recipes.png');

  background-size: cover;
}
.project--network {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/angular-network.png');

  background-size: cover;
}

.project--up-next {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../assets/logoN.jpeg');

  background-size: cover;
}
.project--colaboration {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.5) 100%
    ),
    url('../../../pages/blog/assets/datalist.jpeg');

  background-size: cover;
}

.project h1 {
  text-transform: capitalize;
}

.project__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 0.8rem;
  color: white;
  /* background: #ff5454; */
  background: #ef476f;
  padding: 0.5rem;
  transform: rotate(45deg) translate(6rem);
  transform-origin: center;
  width: 18rem;
  text-align: center;
  text-transform: uppercase !important;
}

.project a {
  text-decoration: none;
  color: aqua;
}

.project a:hover,
.project a:active {
  /* animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both; */
  /* color: aquamarine; */
  /* transform: skewX(-20deg) scale(1.1); */
  font-style: oblique;
  text-shadow: 1px 1px 1px gray;
  font-size: 1.1rem;
}
