.about-first {
  margin-top: 4rem;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  color: azure;
}

.about-text {
  font-size: 3rem;
  color: aqua;
}
.about-text_small {
  font-size: 1.5rem;
}

.about-text_exp {
  font-size: 1.4rem;
  color: aquamarine;
  color: aqua;
}

.about-main {
  margin: 1rem 5rem;
  font-size: 1.6rem;
  color: aquamarine;
}

.about-second {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}
.about-second {
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.disapearing-div {
  opacity: 1;
  transition: opacity 1s ease-in;

  /* background: transparent; */
}
.hide-div {
  opacity: 0;
}

.about_exp h4 {
  transform: translateX(18rem);
  margin-right: 2rem;
}

.about_exp_article {
  display: flex;
  margin: 0 2rem;
  justify-content: space-between;
}

.about_exp_article p {
  margin-left: 2rem;
  color: aquamarine;
}
.about_exp_article span {
  font-size: 1.5rem;
  color: aqua;
}
