.player-background {
  /* object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: 'none'; */

  position: fixed;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.player-background iframe {
  pointer-events: 'none';

  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
}

@media (min-aspect-ratio: 16/9) {
  .player-background iframe {
    height: 56.25vw;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  .player-background iframe {
    width: 177.78vh;
  }
}

/* video-foreground,
.content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: 'none';
  background: rgba(102, 51, 153, 0.7);
} */

.content-wrapper,
.content-wrapper > div {
  position: relative;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* text-align: center; */
  /* display: flex; */
  /* justify-content: center; */
  /* background: chartreuse; */
  color: white;
  width: 100vw;

  font-family: 'Syne Mono', monospace;
}

.home_mute {
  /* display: flex; */
  /* position: fixed; */
  margin-top: -8rem;
  /* right: 0; */
}

.home_btn {
  margin: 2rem;
}

.home_hello {
  margin-top: 4rem;
  height: 100vh;
  width: 100vw;
  /* background: rgba(138, 43, 226, 0.5); */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.first {
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(0, 0, 0, 0.5); */
  background-color: transparent;
}

.home_hello h1 {
  font-family: 'Roboto Mono', monospace;
  opacity: 0;
  transform: translateY(-22rem);
  transition: opcity 1s ease-in, transform 500ms cubic-bezier(0.32, 0, 0.67, 0);
}

.home_hello:hover h1 {
  opacity: 1;
  transform: translateY(0);
}

.home_hello h2 {
  transition: opacity 1s ease-in, transform 500ms cubic-bezier(0.32, 0, 0.67, 0);
  animation: wiggle 400ms 3s 8 ease-out none;
  /* font-family: 'Syne Mono', monospace; */
}
.home_hello:hover h2 {
  opacity: 0;
  transform: translateX(-200%);
}

.home_about {
  height: 100vh;
  width: 100vw;
  /* background: rgba(138, 43, 226, 0.5); */
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
/* .home_about h2 {
  font-family: 'Syne Mono', monospace;
} */

/* .home_about .slide-in-left {
  transform: scaleX(-150%);
  transition: opcity 2s ease-in, transform 2s cubic-bezier(0.32, 0, 0.67, 0);
}
.home_about:hover .slide-in-left {
  transform: scaleX(0);
} */

.home_about:hover h2 {
  animation: flip 1s ease-out forwards;
}

.home_project {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.home_project h1 {
  margin: 3rem;
}

.home_projects_main {
  margin: 2.4rem;
  display: flex;
  justify-content: space-between;
}

.home_projects_main_title {
  /* margin-bottom: 64rem; */
  /* justify-self: start; */
}

.home_projects_main_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.home_projects_main_list a {
  text-decoration: none;
}

.home_projects_main_list p {
  color: palegreen;
}

.home_projects_main_list h3 {
  color: aqua;
  animation: wiggle 420ms 2s 11 ease-out none;
}

/* .home_projects_main_list:hover h3,
.home_projects_main_list h3:active {
  text-shadow: 1px 1px 1px gray;
  transform: skewX(-20deg) scale(1.1);
} */

.second {
  height: 100vh;
  width: 100vw;
  /* background-color: rgb(0, 0, 0, 0.5); */
  background-color: transparent;
}

.home_fotter {
  height: 100vh;
  width: 100vw;
  background-color: rgb(0, 0, 0, 0.42);
  /* background-color: transparent; */
}

@keyframes slideInText {
  from {
    /* opacity: 0; */
    transform: translateX(-22rem);
    /* nsition: opcity 1s ease-in, transform 500ms cubic-bezier(0.32, 0, 0.67, 0); */
  }
  to {
    transform: translateY(0);
  }
}

@keyframes flip {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(160deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
