.button {
  font: inherit;
  font-family: arial;
  /* font-size: 1.1rem; */
  padding: 0.5rem 0.8rem;
  border: 2px solid #01ffff;
  border-radius: 2px;
  /* background: #fe53bb; */
  background: transparent;
  color: #01ffff;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  /* background: #01ffff; */
  color: #9d72ff;
  font-weight: bold;
  border-color: #9d72ff;
}

.button--inverse {
  border-color: #fe53bb;
  background: transparent;
  color: #fe53bb;
}

/* .button--inverse:hover,
.button--inverse:active {
  color: #01ffff;
  background: transparent;
  border-color: #01ffff;
} */

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.4rem;
  /* padding: 0.5rem 0.5rem; */
  border: 1px solid #01ffff;
}

.button--big {
  font-size: 1.5rem;
  min-width: 6rem;
}

@media (min-width: 550px) {
  .button {
    margin: 0.5rem;
  }
}
