.main-navigation_menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-navigation__menu-btn {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin: 0 0 0 1rem;
}

.main-navigation__menu-btn span {
  display: block;
  width: 1.5rem;
  height: 2.5px;
  background: #ef476f;
}

.main-navigation__title {
  font-size: 1.3rem;
}

a.main-navigation__title {
  font-family: cursive;
  text-decoration: none;
  color: rgba(239, 71, 111, 0.9);
  margin: 0 0 0 1rem;
}

a.main-navigation__title:hover,
a.main-navigation__title:active {
  color: #ef476f;
  /* font-style: oblique; */
  transform: skewX(-20deg) scale(1.1);
  text-shadow: 1px 1px 1px gray;
  /* transform: skewX(20deg) skewY(20deg); */
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__drawer-nav {
  height: 100%;
}

@media (min-width: 768px) {
  .main-navigation__menu-btn {
    display: none;
  }

  .main-navigation__header-nav {
    display: block;
  }
}
