.main-header {
  width: 100%;
  height: 2.2rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  color: #ef476f;
  z-index: 5;
}

main {
  /* margin-top: 4rem; */
  background: #ef476f;
}

@media (min-width: 768px) {
  .main-header {
    justify-content: space-between;
  }
}
